requests==2.28.1
selenium==4.20.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipapi==1.0.4
undetected-chromedriver==3.5.5
selenium-wire==5.1.0
numpy==2.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools==69.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
psutil==5.9.8
blinker==1.7.0 #prevents issues on newer versions
apprise==1.8.0
pyyaml==6.0.1
